* {
  font-family: pokemonPixel;
}

@font-face {
  font-family: pokemonPixel;
  src: url(./assets/PokemonPixel.ttf);
}

.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

body {
  background-image: url(./assets/skybackground.png);
  background-size: cover;
}
