* {
  font-family: pokemonPixel;
}
.btn {
  padding: 0.5rem 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@font-face {
  font-family: pokemonPixel;
  src: url(./assets/PokemonPixel.ttf);
}
